name: Release Extension

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
    - uses: actions/checkout@v3

    - name: Use Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '16.x'
    
    - name: Install dependencies
      run: npm install archiver
    
    - name: Pack Extension
      run: node scripts/pack_extension.js

    - name: Create Release
      uses: softprops/action-gh-release@v1
      with:
        files: crossdrop-extension.zip
        generate_release_notes: true
